<h1>Welcome to the TrailerPark!</h1>
<h2 class= "subheader">Sign Up Below to Create a TrailerHome</h2>
<h1><small>Already have a username? Sign in <%= link_to "Here", new_session_path %></small></p>
<img src = "http://barbrvsales.files.wordpress.com/2012/01/4_lrg.jpg?w=700" >

<%= render 'form' %>

<blockquote>Cinema is the most beautiful fraud in the world<cite>Jean-Luc Godard</cite></blockquote>
