<h1>Welcome To The TrailerPark</h1>

<p><%= link_to "Search by Movie Title", search_movies_path %></p>

<img src = "http://fiveforlifeblog.files.wordpress.com/2013/04/floyd-trailer-park.jpg" > 


<blockquote>It starts so young, and I'm angry about that. The garbage we're taught. About love, about what's "romantic." Look at so many of the so-called romantic figures in books and movies. Do we ever stop and think how many of them would cause serious and drastic unhappiness after The End? Why are sick and dangerous personality types so often shown a passionate and tragic and something to be longed for when those are the very ones you should run for your life from? Think about it. Heathcliff. Romeo. Don Juan. Jay Gatsby. Rochester. Mr. Darcy. From the rigid control freak in The Sound of Music to all the bad boys some woman goes running to the airport to catch in the last minute of every romantic comedy. She should let him leave. Your time is so valuable, and look at these guys--depressive and moody and violent and immature and self-centered. And what about the big daddy of them all, Prince Charming? What was his secret life? We dont know anything about him, other then he looks good and comes to the rescue.<cite>Deb Caletti</cite></blockquote>
