<div class= "search"><h1>Can't Recall the Full Title? <em> No Worries! </em> Enter Any Part You Remember:</h1>
<p>(two characters or more, please)</p>

<%= render "form2" %>
<br>
<br>
<br>
<h4>Or, if you know the name of the movie you want to see: </h4>



<%= render "form" %></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<blockquote class="PSH">Dude, no. This is serious. I just sharted.<cite>Philip Seymour Hoffman</cite></blockquote>
