<h2 class= "main_subheader">Sign Up Below to Create a TrailerHome</h2>
<div class= "form1"><%= render 'form1.user_login' %></div>
<br>

<iframe class="frontpage" width="800" height="420" src="//www.youtube.com/embed/6QhOblr9BSQ?list=PLScC8g4bqD44mfvrnp_4lwtda5F6Pz7Uu" frameborder="0" allowfullscreen></iframe>




<br>
<blockquote class="blockquote_F">Cinema is the most beautiful fraud in the world<br><em>Jean-Luc Godard<em></blockquote>


