 <h1>Welcome to the TrailerPark!</h1>
<h2 class= "subheader">Sign Up Below to Create a TrailerHome</h2>



<h1><small>Already have a username? Sign in <%= link_to "Here", new_session_path %></small></p>

<br>
<br>

<iframe class="frontpage" width="800" height="420" src="//www.youtube.com/embed/6QhOblr9BSQ?list=PLScC8g4bqD44mfvrnp_4lwtda5F6Pz7Uu" frameborder="0" allowfullscreen></iframe>
<%= render 'form' %>

<blockquote class="blockquote1">Cinema is the most beautiful fraud in the world<br><em>Jean-Luc Godard<em></blockquote>


