<h1>Welcome to the TrailerPark!</h1>
<h2 class= "subheader">Sign Up Below to Create a TrailerHome</h2>



<h1><small>Already have a username? Sign in <%= link_to "Here", new_session_path %></small></p>
  
<iframe width="560" height="315" src="//www.youtube.com/embed/6QhOblr9BSQ?list=PLScC8g4bqD44mfvrnp_4lwtda5F6Pz7Uu" frameborder="0" allowfullscreen></iframe>
<%= render 'form' %>

<blockquote>Cinema is the most beautiful fraud in the world<cite>Jean-Luc Godard</cite></blockquote>
