<head>You searched  <%= @keyword %>. Which of these movies were you looking for? </head>


<% @hash["Search"].each do |h| %>
  <div class="search-result">
    <ul>
      <li><%= h["Title"] %></li>
      <li><%= h["Year"] %></li>
<!--       did not add imdbID here
 <li><a </li>
    </ul>
  <div>
<% end %> -->